.heading {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.my-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.my-container .input, .my-container .submit-button {
  margin: 10px 0;
  width: 20%;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.my-container .submit-button {
  background: #bd54a4;
  color: #fff;
  cursor: pointer;
}

.my-container .submit-button:hover {
  background: #c561ae;
}

.my-container .submit-button:active {
  background: #d86bbe;
}

.query-result{
  position: fixed;
  top: 120%;
  width: auto;
}

table,td{
  margin: 16px 0;
  border: 1px solid black;
  background-color: rgb(192,192,192);
  overflow: hidden;
  padding: 0 16px;
  width: auto;
}

.table-header{
  text-align: center; 
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.bottom-right{
  position: fixed;
  bottom: 0px;
  right: 0px; 
}